@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CustomFormsApp.Components
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Your head content -->
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>