@namespace CustomFormsApp.Components.Account.Shared

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-info">@Message</div>
}

@code {
    [Parameter]
    public string? Message { get; set; }
}